@use 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Variable', sans-serif;
    background-color: #1B1B1B;
    color: white;
}

ul li {
    text-decoration: none;
    list-style-type: none;


    a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
}

.container {
    margin: 0 auto;
    max-width: 1800px;
}

i {
    cursor: pointer;
}